.hljs

  display    block
  padding    0.5em
  color      #4d4d4c white
  overflow-x auto
  

  &-emphasis
    font-style italic

  &-strong
    font-weight bold


  // comment
  
  &-comment
  &-quote
    color #8e908c

    
  // red
  
  &-variable
  &-template-variable
  &-tag
  &-name
  &-selector-id
  &-selector-class
  &-regexp
  &-deletion
    color #c82829

    
  // orange.
  
  &-number
  &-built_in
  &-builtin-name
  &-literal
  &-type
  &-params
  &-meta
  &-link
    color #f5871f


  // yellow.
  
  &-attribute
  &-attr
    color #eab700


  // green.
  
  &-string
  &-symbol
  &-bullet
  &-addition
    color #718c00


  // blue.
  
  &-title
  &-section
    color #4271ae
  

  // purple.
  
  &-keyword
  &-selector-tag
    color #8959a8
