@require 'placeholder'

/**
 * Layout.
 */


 
// home.

.home
  size 64rem 40rem
  @extend $flex

.home-left
.home-right
  @extend $flex, $flexi, $flexmc, $flexac, $posr

.home-justme
  @extend $flex, $flexmc, $flexac

.home-nav
  position absolute \* 50% 30% \*
  @extend $tar

.home-post
  size 25rem 16rem

.home-header
  margin 0 0 20rem 0



// blog.

.blog
  size 100%
  overflow-y auto

.blog-main
  width 40rem
  margin 0 auto
  padding 15rem 0 5rem 20rem

.blog-top
  padding 5rem 0 1rem 20rem
  @extend $posxc
  
.blog-header
  width 41rem

.blog-left
  width 20rem
  right 0
  padding 15rem 0 0
  margin 0 0 0 -25rem
  @extend $posxc

.blog-nav
.blog-logo
  margin 3rem 1.5rem 0 0
  @extend $tar



// blogs.

.blogs
  size 50rem 30rem
  @extend $flex, $flexcol

.blogs-top
  flex 0 0 8rem
  @extend $posr

.blogs-header
  height 100%
  @extend $flex, $flexmc, $flexac

.blogs-nav
  position absolute -5rem 0
  @extend $tar

.blogs-main
  padding 0 0 0 8rem
  @extend $flex, $flexmc, $flexac, $flexcol, $flexi, $posr

.blogs-item
  width 20rem
  margin 0.5rem 0

.blogs-date
  width 5rem
  @extend $dib, $fzs

.blogs-more
  position absolute \* \* 2rem 50%

.blogs-next
.blogs-prev
  size 1rem
  margin 0.25rem
  @extend $dib, $bdc, $cur


// about.

.about
  size 100%
  overflow-y auto
  

.about-main
  width 64rem
  margin 0 auto
  padding 3rem 0
  @extend $posr

.about-tr
  position absolute 3rem 0 \* \*
  z-index 1

.about-header     
.about-nav
  @extend $tar

.about-nav
  padding 0 1rem 0 0
  margin 1rem 0 0 0

.about-me
  padding 10rem 2rem 30rem 2rem
  @extend $flex, $posr

.about-info
.about-job
.about-langs
  margin 1rem 0 1rem 1rem
  color alpha(black, 0.72)

.about-info
  @extend $fzl  

.about-langs
  padding 1rem 0 0 1rem

.about-div
  color alpha(black, 0.32)
  margin 0 1rem

.about-age
  color alpha(black, 0.56)
  top -0.15rem
  @extend $fzs, $posr

.about-sex
  color alpha(red, 0.56)
  &:before
    content: ""
    size 1rem
    border 2px solid
    top -0.4rem
    left 1.1825rem
    @extend $bdc, $dib, $posr  
  &:after
    content: "+"
    size 1rem
    left -0.01rem
    top 0.5rem
    @extend $dib, $posr

.about-tree
  position absolute \* 0 0 \*

.about-props
  position absolute \* \* 3rem 3rem

.about-section
  margin 5rem 0 0 0

.about-title
  color alpha(black, 0.72)
  margin 0 0 1rem 0
  @extend $fzl


// media
  
.media
  padding 2rem 17rem 0 2rem
  @extend $flex

.media-left
  flex 0 0 8rem
  @extend $flex, $flexmc

.media-right
  padding 1rem
  @extend $flexi

.media-avatar
  size 6rem
  border 3px solid alpha(black, 0.16)
  overflow hidden
  @extend $bdc

.media-link
  margin: -1.4rem 0 1rem 0


// langs.
  
.langs
  @extend $flex, $flexac

.lang
  margin 0 0.25rem
  @exnted $dib
  @extend $posr
  
  img
    max-width 2rem
    max-height 2rem

.lang-tip
  transition opacity 0.2s ease-in-out 0s
  position absolute \* \* -1rem 100%
  line-height 1.4
  white-space nowrap
  background alpha(black, 0.72)
  color white
  border-radius 0.25rem
  padding 0.25rem 0.5rem
  z-index 1
  @extend $fzs
  opacity 0
  .lang:hover &
    opacity 1


// props.

.props-val
  font-size 1rem
  margin 1rem
  color alpha(black, 0.72)

.props
  font-size 0.8rem
  margin 1rem
  color alpha(black, 0.56)

  &-1
    padding 0 0 0 1rem
  &-2
    padding 0 0 0 2rem


// block.

.block
  width 25%
  padding 2rem
  text-align center
  box-sizing border-box
  @extend $dib


.block-pic
  overflow hidden

  img
    size 8rem
    border 3px solid alpha(black, 0.16)
    @extend $bdc

.block-title
.block-content
  margin 1rem 0

.block-title
  color alpha(black, 0.56)
  @extend $fzs

.block-content
  color alpha(black, 0.72)
      


// notfound.

.notfound-main
  @extend $flex, $flexmc, $flexac, $flexcol

.notfound-txt
  margin 2rem 0
  

  

// justme.

.justme
  width 60%
  opacity 0



// logo.

.logo
  transform translate3d(0, -1rem, 0)
  opacity 0
  @extend $flex

.logo-left
  @extend $flex, $flexmc, $flexac

.logo-right
  @extend $flex, $flexcol, $flexmc    

.logo-text
  margin 0 1rem

.logo-label
  margin 0 0 0.8rem 0



// nav.

.nav
  margin 0.5rem 0

.nav-item
  transform translate3d(-1rem, 0, 0)
  opacity 0


// photo.

.photo
  size 10rem
  border 0.4rem solid alpha(black, 0.08)