@require 'placeholder'

/**
 * Layout.
 */


 
// home.

.home
  size 64rem 40rem
  @extend $flex

.home-left
.home-right
  @extend $flex, $flexi, $flexmc, $flexac, $posr

.home-justme
  @extend $flex, $flexmc, $flexac

.home-nav
  position absolute \* 50% 30% \*
  @extend $tar

.home-post
  size 25rem 16rem

.home-header
  margin 0 0 20rem 0



// blog.

.blog
  size 100%
  overflow-y auto

.blog-main
  width 40rem
  margin 0 auto
  padding 15rem 0 5rem 20rem

.blog-top
  padding 5rem 0 1rem 20rem
  @extend $posxc
  
.blog-header
  width 41rem

.blog-left
  width 20rem
  right 0
  padding 15rem 0 0
  margin 0 0 0 -25rem
  @extend $posxc

.blog-nav
.blog-logo
  margin 3rem 1.5rem 0 0
  @extend $tar



// blogs.

.blogs
  size 50rem 30rem
  @extend $flex, $flexcol

.blogs-top
  flex 0 0 8rem
  @extend $posr

.blogs-header
  height 100%
  @extend $flex, $flexmc, $flexac

.blogs-nav
  position absolute -5rem 0
  @extend $tar

.blogs-main
  padding 0 0 0 8rem
  @extend $flex, $flexmc, $flexac, $flexcol, $flexi, $posr

.blogs-item
  width 20rem
  margin 0.5rem 0

.blogs-date
  width 5rem
  @extend $dib, $fzs

.blogs-more
  position absolute \* \* 2rem 50%

.blogs-next
.blogs-prev
  size 1rem
  margin 0.25rem
  @extend $dib, $bdc, $cur



// notfound.

.notfound-main
  @extend $flex, $flexmc, $flexac, $flexcol

.notfound-txt
  margin 2rem 0
  

  

// justme.

.justme
  width 60%



// logo.

.logo
  @extend $flex

.logo-left
  @extend $flex, $flexmc, $flexac

.logo-right
  @extend $flex, $flexcol, $flexmc    

.logo-text
  margin 0 1rem

.logo-label
  margin 0 0 0.8rem 0



// nav.

.nav
  margin 0.5rem 0
