/**
 * Markdown.
 */



.md

  
  // base.
    
  font-size:   20px
  line-height: 1.5



  // typo.
  
  h1
  h2
  h3
  h4
  h5
  h6
  p
  dt
  dd
    margin:      0 0 1em 0
    font-weight: 400
    font-size:   1em

  h1
    display none

  h2
    margin    4em 0 1em 0
    font-size 1.5em
      
  h3
    margin    2em 0 1em 0
    font-size 1.2em

  a
    font-size 1em

  small
    font-size 0.8em

  dt
    font-size 1.1em



  // list.
  
  ul
  ol
    list-style-type none
    padding 0
    margin  0 0 1em 0

  ul li
    padding  0 0 0 1em
    position relative
    
    &:before
      content  "."
      display  inline-block
      position absolute -0.25em \* \* 0



  // code.

  reverse(c)
    c[1] c[0]


  split-line(r)
    pos = 0 -0.5em
    siz = 3em 1px

    pos1 = r ? pos : reverse(pos)
    siz1 = r ? siz : reverse(siz)

    position absolute pos1[0] \* \* pos1[1]
    size siz1[0] siz1[1]
    

  pre
    margin   2em 0
    padding  1em
    position relative

    &:before
    &:after
      content: ""
      display  inline-block
      background-color rgba(0, 0, 0, 0.16)
    
    &:before
      split-line(true)

    &:after
      split-line(false)

  li
  p
    code
      display inline-block
      padding 0 0.5em
      margin  0 0.5em
      line-height   1.2
      border-radius 2px

  code
    font-family "Coder"
    font-size   0.8em
