/**
 * Markdown.
 */



.md

  
  // base.
    
  font-size:   15px
  line-height: 1.5



  // typo.
  
  h1
  h2
  h3
  h4
  h5
  h6
  p
    margin:      0 0 1em 0
    font-weight: 400
    font-size:   1em

  h1
    display none

  h2
    margin    4rem 0 1rem 0
    font-size 1.5em
      
  h3
    margin    2rem 0 1rem 0
    font-size 1.2em

  a
    font-size 1rem



  // list.
  
  ul
  ol
    list-style-type none
    padding 0
    margin  0 0 1rem 0

  ul li
    padding  0 0 0 1rem
    position relative
    
    &:before
      content "."
      display inline-block
      position absolute -0.25rem \* \* 0



  // code.

  pre
    margin   2rem 0
    padding  1rem
    position relative
    
    &:before
      content: ""
      display  inline-block
      position absolute 0 \* \* -0.5rem      
      background-color rgba(0, 0, 0, 0.16)
      size 3rem 1px
    &:after
      content: ""
      display  inline-block
      position absolute -0.5rem \* \* 0
      background-color rgba(0, 0, 0, 0.16)
      size 1px 3rem

  li
  p
    code
      display inline-block
      padding 0 0.5rem
      margin  0 0.5rem
      line-height   1.2
      border-radius 2px

  code
    font-family "Coder"
    font-size   0.8rem
