/**
 * Placeholders.
 */



// flex.

$flex
  display flex

$flexmc
  justify-content center

$flexac
  align-items center

$flexi
  flex 1 0 0

$flexcol
  flex-flow column nowrap



// position.

$posr
  position relative

$posa
  position absolute

$posf
  position fixed

$posxc
  position fixed
  top 0
  left 50%
  transform translate3d(-50%, 0, 0)



// box.

$dib
  display inline-block

$bdc
  border-radius 50%  


// Font.
  
$tar
  text-align right

$fzs
  font-size 0.8rem

$fzl
  font-size 1.5rem



// color.

$black08
  color alpha(black, 0.08)

$black16
  color alpha(black, 0.16)

$black32
  color alpha(black, 0.32)

$black56
  color alpha(black, 0.56)

$black72
  color alpha(black, 0.72)



// others.

$cur
  cursor pointer