/* Mixins */
w100()
  width: 100%

h100()
  height: 100%

container()
  w100()
  h100()

m0()
  margin:  0

p0()
  padding: 0

spaceReset()
  m0()
  p0()


flex-justify-cen()
  justify-content: center

flex-item-cen()
  align-items: center

flex-col()
  display: flex
  flex-flow: column nowrap

flex-cen()
  display: flex
  flex-justify-cen()
  flex-item-cen()

flex-item(size = null)
  if size is not null
    flex: 0 0 size
  else
    flex: 1 0 0
  


/* Reset */
html
body
body > div
  container()

body > div
  flex-cen()

body
  font-family: "Microsoft YaHei UI","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",sans-serif
  font-size:   16px
  line-height: 1
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust:     100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing:  antialiased
  spaceReset()

img
  width:  100%
  height: auto

a
  color:           inherit
  cursor:          pointer
  text-decoration: none

@font-face
  font-family "Coder"
  src url("./Font/FiraCode-Light.otf")
  font-weight normal
  font-style  normal
  font-variant-ligatures contextual
  font-feature-settings "calt" 1
  text-rendering optimizeLegibility
  font-size 1rem
    

/* Util */
.flex
  display: flex

.flex-justify-cen
  flex-justify-cen()

.flex-col
  flex-col()

.flex-con
  flex-cen()

.mb2
  margin-bottom: 2rem

.g4
  color: rgba(0, 0, 0, 0.72)

.list-rs
  list-style-type: none
  spaceReset()

.none-select
  -webkit-user-select: none
  -moz-user-select:    none
  user-select:         none
  pointer-events:      none


/* Home */
.con-home
  width:   64rem
  height:  40rem
  display: flex

.con-home-item
  position: relative
  flex-cen()
  flex-item()

.img-home
  width: 60%

.nav-home
  position: absolute
  bottom: 30%
  right: 50%

.logo-home
  margin-bottom: 20rem

.top-posts
  width:  25rem
  height: 16rem  

/* Blog */
.con-blog
  width:   100%
  height:  100%
  overflow-y: auto

.con-blog-cen
  width 40rem
  margin 0 auto
  
.con-blog-main
  padding 10rem 0 5rem 20rem
  position relative
  
.con-blog-header
  position fixed
  top 0
  left 50%
  padding 3rem 0 3rem 20rem
  background-color rgba(255, 255, 255, 1)
  transform translate3d(-50%, 0, 0)

.con-blog-left
  position fixed
  top 0
  left 50%
  right 0
  transform translate3d(-50%, 0, 0)
  padding 15rem 0 0 0
  margin 0 0 0 -25rem
  width 20rem

.con-blog-nav
.con-blog-logo
  margin 3rem 1.5rem 0 0
  text-align right


.title
  font-size 2rem
  font-weight 100
  margin 0 0 1rem -0.5rem
  color rgba(0, 0, 0, 0.72)

.date
  font-size 0.8rem
  margin 0 0 0 -0.5rem
  color rgba(0, 0, 0, 0.16)


/* Logo */

.logo
  font-size 4rem
  font-weight 100
  margin 0 1rem

.red
  color rgba(255, 0, 0, 1)

.logo-label
  font-size 1.2rem
  color rgba(0, 0, 0, 0.56)
  margin: 0 0 0.8rem 0

.logo-intro
  font-size 0.8rem
  color rgba(0, 0, 0, 0.32)

.logo-pic
  width 5rem
  display inline-block


/* Nav */

.nav
  margin 0.5rem 0
  font-size 1rem
  font-weight 100
  color rgba(0, 0, 0, 0.56)
  display inline-block
  cursor pointer