/**
 * Reset.
 */



// containers.
 
html
body
body > div
  size 100%

body > div
  display flex
  justify-content center
  align-items center



// elements.  

body
  font-family "Microsoft YaHei UI","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",sans-serif
  font-size   16px
  line-height 1
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust     100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing  antialiased
  margin  0
  padding 0

img
  size 100% auto

a
  color  inherit
  cursor pointer
  text-decoration none



// @font-face.
  
@font-face
  font-family "Coder"
  font-weight normal
  font-style  normal
  font-size   1rem
  
  src url("./Font/FiraCode-Light.otf")
  
  font-variant-ligatures contextual
  font-feature-settings  "calt" 1
  text-rendering optimizeLegibility
  
    

  
// utils.

.list-rs
  list-style-type: none
  margin  0
  padding 0

.none-select
  -webkit-user-select: none
  -moz-user-select:    none
  user-select:         none
  pointer-events:      none
