@require '../placeholder'
json('../../media-queries')


// blogs.

.blogs
  size 100%
  @extend $flex, $flexcol

.blogs-main

  @extend $flex, $flexac, $flexcol, $flexi, $posr

  &:after
    content: ""
    display inline-block
    position absolute
    left 30%
    top 0
    bottom 0
    width 2px
    transform translate3d(-2.5rem, 0, 0)
    background-color rgba(0, 0, 0, 0.16)
    border-radius 50%
    z-index -1

.blogs-main ul
  width 100%    

    

.blogs-item
  width 100%
  margin 2rem 0

  left 0
  transform translate3d(30%, 0, 0)
  position relative
  
  &:after
    content: ""
    display inline-block
    position absolute
    left 0
    top 0
    bottom 0
    size 1rem
    border-radius 50%
    transform translate3d(-2.95rem, 0, 0)
    background-color rgba(0, 0, 0, 0.16)
    z-index 1

.blogs-date
  width 5.5rem
  display block
  margin 0 0 0.5rem 0
  @extend $fzs
  // @extend $dib, $fzs

.blogs-more
  position absolute \* 0 2rem 0
  @extend $tac

.blogs-next
.blogs-prev
  size 1rem
  margin 0.25rem
  @extend $dib, $bdc, $cur

.blogs-top
  display none

    

@media table
  .blogs
    size 50rem 30rem
    @extend $flex, $flexcol
  
  .blogs-top
    flex 0 0 8rem
    display block
    @extend $posr
  
  .blogs-header
    height 100%
    @extend $flex, $flexmc, $flexac
  
  .blogs-nav
    position absolute -5rem 0
    @extend $tar


  .blogs-main
    &:after
      left 50%

  .blogs-item
    transform translate3d(50%, 0, 0)

  .blogs-date
    position relative
    left -8rem
    display inline-block
    margin 0

  .blogs-title
    position relative
    left -6rem

/*    
  .blogs-main
    //padding 0 0 0 8rem
    //@extend $flex, $flexmc, $flexac, $flexcol, $flexi, $posr
  
  .blogs-item
    //width 20rem
    //margin 0.5rem 0
  
  .blogs-date
    //width 5rem
    //@extend $dib, $fzs
*/